{% extends "main/layout.html" %}

{% block content %}

<div class="container py-5">
    <h1>SOMETHING HERE</h1>
    <p>Dolor sit amet, consectetur adipiscing elit. Duis ut lacinia nibh, quis porttitor velit. Pellentesque quis porta sapien. Vestibulum sed gravida mi. Cras nec velit sit amet libero pulvinar mattis. Praesent imperdiet nulla imperdiet bibendum feugiat. Fusce leo ipsum, semper et hendrerit et, tempor at dui. Maecenas a posuere massa. Nunc eu odio sed est efficitur finibus. Proin dolor lorem, tincidunt eu vestibulum vitae, ullamcorper vel metus. Nullam a pulvinar nunc, non viverra arcu. Aenean placerat condimentum ultrices. Proin fringilla sapien sit amet felis commodo, non lobortis nisl scelerisque. </p>
</div>


{% endblock %}